/* Style the list */
ul.tab {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    position: absolute;
    left: 500px;
    width: 46%;
    float: left;
    margin-top: -30px;
}

/* Float the list items side by side */
ul.tab li {float: left; tabsize}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 13px 13px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 6px;
    border: 0px solid #ccc;
    border-top: none;
}