<!DOCTYPE html>

<!-- <u1>
	{% for item in food %}
		<l1>{{ item }}</l1>
	{% endfor %}
</u1> -->


<html lang="en">

<head>
	<style>p.indent{ padding-left: 14.5em }</style>
	<style>p1.indent{ padding-left: 25.5em }</style>
	<style>p2.indent{ padding-left: 35.5em }</style>
	<style>p3.indent{ padding-left: 32.5em }</style>
	<style>p4.indent{ padding-left: 28.5em }</style>
	<style>p5.indent{ padding-left: 35.0em }</style>
	<h1><p class="indent">Sphere-X Sensitivity Calculator</p></h1>
</head>

<body>
    <h2><p1 class="indent">Instructions</p1></h2>
    <th1><p2 class="indent">Click version from version menu</br><p3 class="indent">Check out plots from default parameter values</br><p4 class="indent">Manipulate parameters to observe the change in the plots in real time</br></p4></p3></p2></th1>
    <td></br></td>
    <td></br></td>
    <td></br></td>
    <th2><p2 class="indent"><a href="/normal">Instrument Parameters - Normal</a></p2></br></th2>
    <td></br></td>
    <th2><p5 class="indent"><a href="/advanced">Instrument Parameters - Advanced</a></p5></th2>
</html>